*.o
*.d
*.tfrecord
*.flac
*.zip
*.tar.gz
*.tgz
*.trn
*.txt
*.lm
*.pyc
*.pk
*.mypy_cache/
python/models_trained_bk
nnse/python/data/*tfrecords*.csv
evb/src/weights
python/fix.py
python/mel_org.py
python/wavewrite_example.py
.venv
